body {
    text-align: center;
}

h1 {
    font-family: 'Ranchers', cursive;
    font-weight: 400;}


.square {
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid brown;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\2B55";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\274C";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}